#quizz {
    display:none;
    width:100vw;
    height:100vh;
    background:rgb(165, 165, 165);
    align-items: center;
    align-content: center;
    text-align: center;
    font-size:2rem;
    position:absolute;
    top:0;
    left:0;
    button{
        background-color:rgb(165, 165, 165);
        cursor:pointer;
        font-size:1.5rem;
    }
    .quesWrap__ques {
        padding: 32px 0;
    }
    .quizz__quesWrap {
        margin:0 auto;
    }
    .quess2 {
        display:none;
    }
    .quess3 {
        display:none;
    }
}

.main {
    margin:0 auto;
    &__intro {
        height: 100vh;
        background:url("../media/images/introImg.png");
        background-attachment: fixed;
        background-size: cover;
        display:flex;
        flex-wrap:wrap;
        justify-content: space-around;
        align-items:center ;
        h1 {
            text-align: center;
            width:100%;
            font-size:3rem;
        }
        .intro__textCont {
            width:40vw;
            font-size:1.5rem;
        }
        .intro__imgCont {
            width:40vw;
        }
    }
    &__video {
        padding:10vh 10vw;
        display:flex;
        align-items: center;
        justify-content: center;
        background-color: grey;
        video {
            outline:none;
            max-width:80vw;
            max-height:80vh;
        }
    }
    &__slider {
        padding:64px;
        .slider__sliderFunction {
            width:60vw;
            position:relative;
            margin:32px auto;
            overflow-x: hidden;
            .slider__sliderFunction-animate {
                animation: sliderMove 5s infinite ease-in;
            }
            .leftImage {
                position:absolute;
                top:0;
                left:0; 
                background:url("../media/images/graf2.svg");
                width:50%;
                height:100%;
                background-size:cover;
            }
            .rightImage {
                width:100%;
                height:100%;
                img {
                    width:100%;
                    height:100%;
                }
            }
            input {
                -webkit-appearance: none;
                position:absolute;
                top:50%;
                left:50%;
                transform:translate(-50%, -50%);
                width:103%;
                background:transparent;
                outline:none;
                z-index: 100;
            }
            input::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                background:black;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                cursor: pointer;
            }
            input::-moz-range-thumb {
                background:black;
                width: 30px;
                height:23px;
                border-radius: 50%;
                cursor: pointer;
            }
            #inputThumb {
                z-index: 90;
                position:absolute;
                top:0;
                left:50%;
                width:10px;
                transform:translateX(-50%);
                height:100%;
                background-color: black;
            }
        }
        .slider__text {
            width:800px;
            text-align: center;
            margin:0 auto;
        }
    }
}