@import 'partials/resets'; // Resets
@import 'partials/variables'; // Variables
@import 'partials/keyframes'; // Keyframes

//Primary stylesheets
@import 'partials/mobile'; // Mobile: min width: 768
@import 'partials/laptop'; // Laptop: no media query